# Latex removals
*.log
*.nav
*.aux
*.out
*.toc
*.bbl
*.bcf
*.snm
*.synctex.gz
*.run.xml

# Binaries
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx

# C++ binaries
*.o

# R binaries
*.rds
*.rda
.Rproj.user
.Rhistory

*_cache/
cache/
